<!DOCTYPE html>
<html>
  <head>
    <title>bookstore</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>HI</h1>
    <p>Welcome to online Bookstore</p>
    <a href="/books">go to books list</a>
  </body>
</html>
